body {
    background-color: #fff;
    padding: 0%;
    margin: 0%;
}

.menu, 
nav,
ul {
    display: flex;
    flex-direction: row;

}

.menu {
    justify-content: space-between;
    padding: 5px 100px;
    position: relative;
    top: -30px;
}


ul,
li {
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    right: 100px;

}

.head {
    font-family: sans-serif;
    color: #A02279;
    position: relative;
    left: 100px;
    font-size: 50px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.logo {
    position: relative;
    top: 60px;
    left: 150px;
}

.connect {
    border: none;
    border-radius: 10px;
    background-color: #A02279;
    color: #fff;
    height: 48px;
    width: 170px;
    position: relative;
    top: 40px;
    cursor: pointer;
    
}

.body {
    position: relative;

}

.welcome {
    font-family: "red rose", sans-serif;
    font-weight: 500;
    position: absolute;
    left: 140px;
}

span {
    color: #A02279;
    font-weight: bold;
}


.p {
    position: absolute;
    left: 140px;
    top: 100px;
}

.house {
    position: absolute;
    right: 150px;
}

.input {
    position: absolute;
    left: 140px;
    top: 200px;
}

.input input{
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 2.5px solid whitesmoke; 

}

.search {
    border: none;
    border-radius: 3px;
    background-color: #A02279;
    color: #fff;
    height: 38px;
    width: 130px;
    cursor: pointer;
    position: absolute;
    left: 223px;
    

}

.section {
    background-color: #A02279;
    position: relative;
    top: 500px;
    color: #fff;
    
}

.ul {
    justify-content: center;
    align-items: center;
    gap: 400px;
    margin-left: 300px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
}


.desertking {
    position: relative;
}

.h2 {
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top: 500px;
    left: 560px;
}

.frame1 {
    position: absolute;
    top: 600px;
    left: 110px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame1 {
  padding-left: 15px;

}

.heart1 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star1 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame2 {
    position: absolute;
    top: 600px;
    left: 440px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame2 {
  padding-left: 15px;

}

.heart2 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star2 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame3 {
    position: absolute;
    top: 600px;
    left: 770px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame3 {
  padding-left: 15px;

}

.heart3 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star3 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame4 {
    position: absolute;
    top: 600px;
    right: 180px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame4 {
  padding-left: 15px;

}

.heart4 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star4 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame5 {
    position: absolute;
    top: 1030px;
    left: 110px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame5 {
  padding-left: 15px;

}

.heart5 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star5 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame6 {
    position: absolute;
    top: 1030px;
    left: 440px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame6 {
  padding-left: 15px;

}

.heart6 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star6 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame7 {
    position: absolute;
    top: 1030px;
    left: 770px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame7 {
  padding-left: 15px;

}

.heart7 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star7 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}

.frame8 {
    position: absolute;
    top: 1030px;
    right: 180px;
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 0.5px solid;

}

.Frame8 {
  padding-left: 15px;

}

.heart8 {
    position: absolute;
    left: 248px;
    top: 29px;
    font-size: 25px;
    color: #fff;
}

.star8 {
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -5px;
    left: 125px;
    color: #A02279;
}



.NFTs {
    background-color: #A02279;
    color: #fff;
    position: relative;
    top: 1500px;

}

.rooms {
    padding-left: 700px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.section3 {
    padding-left: 180px;
    position: absolute;
    top: 130px;
    font-family: sans-serif;
}

.discover {
    padding-left: 180px;
    position: absolute;
    top: 250px;
    line-height: 30px;
    font-family: "red rose", sans-serif;
}

.learn-more {
    position: absolute;
    left: 180px;
    top: 450px;
    border: none;
    border-radius: 7px;
    background-color: #fff;
    color: #A02279;
    height: 38px;
    width: 130px;
    cursor: pointer;

}

.section4 {
    position: relative;
    top: 1500px;
    background-color: #000;
    color: #fff;
    padding-bottom: 300px;
}

table {
    position: absolute;
    left: 450px;
    top: 100px;
    text-align: center;
    width: 1000px;
}

thead {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

tbody {
    text-transform: capitalize;
    font-weight: lighter;
    cursor: pointer;
}

.footer {
    position: absolute;
    top: 65px;
    left: 220px;
    font-family: sans-serif;
    font-weight: bolder;

}

.home {
    position: absolute;
    top: 80px;
    left: 175px;
}

.facebook {
    position: absolute;
    top: 200px;
    left: 195px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}

.h6 {
    position: absolute;
    top: 250px;
    left: 190px;
    cursor: pointer;
}